# Node modules and build output
node_modules
dist

# Docker files (don’t send these to the daemon)
.git
.gitignore
.dockerignore
Dockerfile

# Logs and temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
tmp
*.tmp

# Local env files
.env*
